﻿.container {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 20px 20px;
    width: 80%;
    height: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS';
    background-color: white;
}

#footer {
    margin-top: 15px;
}

h2 {
    margin-top: 45px;
}

.errorMsg {
    color: red;
    font-family: Arial;
}

form {
    margin: 0 auto;
    width: 45%;
}

form label{
    margin: 10px 10px 10px 10px;
}

    form input {
        margin: 10px 10px 10px 10px;
    }

input[type='number']{
    -moz-appearance: textfield;
    width: 40px;
    text-align: center;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
     margin: 0; 
}

.productTable {
    border-radius: 15px 15px;
    height: 150px;
    width: 70%;
    box-shadow: 0px 5px 20px #b1b1b1;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: left;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px
}
    .productTable img {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }

.productId {
    text-align: center;
}

.formButton {
    border-style: none;
    background-color: transparent;
    padding: 0px;
    color: black;
}