﻿.topMenu {
    border-style: solid;
    border-color: #fffec0;
    border-width: 2px;
    margin: 0 auto;
    text-align: center;
    background-color: #fffec0;
    width: auto;
}

a {
    border-style: solid;
    border-color: #ffd800;
    border-width: 1px;
    background-color: #ffd800;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}